# Porta do servidor Express
PORT=3001

# Conexão com o banco de dados
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/chamados_db?schema=public"

# Conexão com o Sqlite (segunda opção para desenvolvimento)
#DATABASE_URL="file:./dev.db"

# Segurança e Autenticação
JWT_SECRET="sua_chave_secreta_super_segura"

# Origem permitida para requisições no CORS
CORS_ORIGIN="http://localhost:3000"

DATABASE_PROVIDER="postgresql" ##sqlite|mssql|mysql|postgresql##