# uploads e mídias
uploads/
/uploads/*
!uploads/.gitkeep

# Dados do PostgreSQL
pgdata/
*.sqlite
*.sqlite-journal

# Arquivos de variáveis de ambiente em qualquer nível
.env
.env.local
.env.*.local
*.env

# Node / Next / Build
node_modules/
.next/
dist/
build/
*.log
# Docker / IDEs
.vscode/
.idea/