# --- BANCO DE DADOS (POSTGRES) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=chamados_db
POSTGRES_PORT=5432
# Usado apenas para execução local (npm run dev). O Docker sobrescreve isso automaticamente.
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/chamados_db?schema=public

# --- BFF BACKEND ---
BFF_PORT=3001
JWT_SECRET=sua_chave_secreta_super_segura
CORS_ORIGIN=http://localhost:3000

# --- FRONTEND NEXT.JS ---
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001

ALLOWED_DEV_ORIGINS=localhost,127.0.0.1

# --- MICROSOFT SSO (AZURE ENTRA ID) ---
SSO_MICROSOFT_ATIVO=true
REDIRECT_URI=http://localhost:3000/login
MS_URL="https://login.microsoftonline.com"
MS_CLIENT_ID="seu-client-id"
MS_TENANT_ID="seu-tenant-id"
