# --- BANCO DE DADOS (POSTGRES) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=chamados_db
POSTGRES_PORT=5432

# --- BFF BACKEND ---
BFF_PORT=3001
JWT_SECRET=sua_chave_secreta_super_segura
CORS_ORIGIN=http://localhost:3000

# --- FRONTEND NEXT.JS ---
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001