# --- CONFIGURAÇÕES DO NEXT.JS ---
PORT=3000

# --- INTEGRAÇÃO COM O BACKEND ---
# URL onde o BFF está rodando (Ajuste para IP ou Domínio em produção)
NEXT_PUBLIC_API_URL=http://localhost:3001

# --- DESENVOLVIMENTO ---
# IPs e domínios permitidos para HMR (Hot Reload) em testes de rede
ALLOWED_DEV_ORIGINS=localhost,127.0.0.1

# --- MICROSOFT SSO (MSAL REACT) ---
# Essas variáveis precisam do prefixo NEXT_PUBLIC_ para irem para o navegador
NEXT_PUBLIC_SSO_MICROSOFT_ATIVO=true
NEXT_PUBLIC_MS_CLIENT_ID="seu-client-id"
NEXT_PUBLIC_MS_TENANT_ID="seu-tenant-id"
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/login
NEXT_PUBLIC_MS_URL=https://login.microsoftonline.com
NEXT_PUBLIC_STORAGE_KEY="chave_storage"